{% extends 'base.html' %}
{% block content %}

<h1>Projects</h1>
<a href="{% url 'create-project' %}">Add Project</a>
<table>
    <tr>
        <th>Project</th>
        <th>+Votes</th>
        <th>Votes</th>
        <th></th>
        <th></th>
        <th></th>
        {% for project in projects %}
            <tr>
                <td>{{ project.title }}</td>
                <td>{{ project.vote_ratio }}%</td>
                <td>{{ project.total_vote }}</td>
                <td>{{ project.created }}</td>
                <td><a href="{% url 'project' project.id %}">View</td>
                <td><a href="{% url 'edit-project' project.id %}">Edit</td>
                <td><a href="{% url 'delete-project' project.id %}">Delete</td>
            </tr>
        {% endfor %}
    </tr>
</table>

{% endblock content %}